@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    color: #f2f2f2;
    background: rgb(48,165,238);
    background: linear-gradient(180deg, rgba(48,165,238,1) 0%, rgba(226,167,196,1) 100%, rgba(244,150,46,1) 100%);  
}
